# drizzle-pg-starter environment variables

LOG_LEVEL='info'

NODE_ENV='development'

PORT='3000'

CORS_ORIGIN='http://localhost:5173'

DATABASE_URL='postgresql://postgres:postgres@localhost:5432/cowork_chat'
